<ng-container *ngIf="data$ | async as data">
  <section *ngIf="tpl == 'list'">
    <ul>
        <li><strong>id</strong>: {{ data.id }}</li>
        <li><strong>name</strong>: {{ data.name }}</li>
        <li><strong>displayName</strong>: {{ data.displayName }}</li>
        <li><strong>description</strong>: {{ data.description }}</li>
        <li><strong>tags</strong>: {{ data.tags }}</li>
        <li><strong>subject</strong>: {{ data.subject }}</li>
        <li><strong>htmlContent</strong>: {{ data.htmlContent }}</li>
        <li><strong>parentId</strong>: {{ data.parentId }}</li>
        <li><strong>kind</strong>: {{ data.kind }}</li>
    </ul>
  </section>

  <section *ngIf="tpl == 'default'">
    <pre>{{ data | json }}</pre>
  </section>
</ng-container>
