<div class="container">
  <form [hidden]="alertType === 'success'" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" autocomplete="off" class="form">
    <div class="form__group">
      <input formControlName="contactFormName" type="text" class="form__control"
             [class.is-invalid]="formErrors.contactFormName"
             id="firstname" placeholder="Name">
      <div class="invalid-feedback" *ngIf="formErrors.contactFormName">
        {{ formErrors.contactFormName | translate }}
      </div>
    </div>
    <div class="form__group">
      <input formControlName="contactFormEmail" type="email" class="form__control"
             [class.is-invalid]="formErrors.contactFormEmail"
             id="email" placeholder="Email">
      <div class="invalid-feedback" *ngIf="formErrors.contactFormEmail">
        {{ formErrors.contactFormEmail | translate }}
      </div>
    </div>
    <div class="form__group" [class.has-error]="formErrors.contactFormMessage">
      <textarea class="form__control" rows="5" formControlName="contactFormMessage" name="message" placeholder="Message"></textarea>
      <div *ngIf="formErrors.contactFormMessage" class="invalid-feedback">
        {{ formErrors.contactFormMessage | translate }}
      </div>
    </div>
    <div class="form__desc">
      <ng-container *ngIf="(contactFormSettings$ | async) as contactFormSettings">
        {{ contactFormSettings.contactFormSettingsDescription }}
      </ng-container>
    </div>
    <div class="form__submit">
      <button type="submit">SEND MESSAGE</button>
    </div>
    <div [ngClass]="alertType" class="form__alert">
      <span *ngIf="alertType === 'error'">
          {{ 'form.status.error' | translate }}
      </span>
    </div>
  </form>

  <div [class.show-content]="alertType === 'success'" class="success-container">
    <div class="success-container__title">
      Success!
    </div>
    <div class="success-container__desc">
      Your message has been sent.<br/>
      We will contact you as soon as possible.
    </div>
    <div class="success-container__submit">
      <button [routerLink]="['/home']">Back to home page</button>
    </div>
  </div>
</div>
