@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  @include fontSize(12);
  @include lineHeight(20);
  @include transition();
  box-shadow: 0 28px 41px $form-box-shadow;
  border-radius: 10px;
  border: 2px solid $boxes-border-color;
  background-color: $boxes-bg;
  padding: 45px 48px 40px;
  position: relative;
  min-height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  opacity: 1;
  transition: all 0.6s;

  &.form-hidden {
    overflow: hidden;
    height: 0;
    transition: all 0.6s;
  }

  &__alert {
    text-align: center;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-decoration: underline;
    visibility: hidden;
    opacity: 0;

    &.empty-form {
      visibility: visible;
      opacity: 0.5;
    }
  }

  &.send-state {
    .form__alert {
      visibility: visible;
      opacity: 0.5;
    }
  }

  &__group {
    @include fontSize(14);
    position: relative;
    width: 100%;
    font-family: MonRegular;

    &:after {
      @include transition();
      content: "";
      position: absolute;
      background-color: $border-color;
      bottom: 5px;
      height: 2px;
      width: 100%;
      left: 0;
    }
  }

  &__control {
    @include transition();
    display: inline-block;
    width: 100%;
    background: transparent;
    border: none;
    padding: 13px 10px;
    color: $base-font-color;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  &__desc {
    @include fontSize(9);
    @include lineHeight(12);
    font-family: MonLight;
    letter-spacing: 0.9px;
    opacity: 0.4;
    margin-top: 29px;
  }

  &__submit {
    @include buttonStyle();
    text-align: center;
    margin-top: 46px;

    button {
      padding: 15px 26px;
      background: transparent;

      &:disabled {
        pointer-events: none;
      }
    }
  }
}

.invalid-feedback {
  @include invalidFormControl();
  bottom: -20px;
}

.success-container {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s;
  text-align: center;

  &.show-content {
    height: auto;
    opacity: 1;
    transition: all 0.6s;

    .success-container {
      &__title, &__desc {
        transition: all 1s;
        transform: translateY(0);
      }

      &__submit {
        opacity: 1;
        transition: all 1s;
      }
    }
  }

  &__title {
    @include fontSize(40);
    font-family: MonBold;
    margin-top: 30px;
    transform: translateY(10px);
    transition: all 1s;
  }

  &__desc {
    @include fontSize(12);
    @include lineHeight(20);
    font-family: MonRegular;
    margin-top: 37px;
    transform: translateY(10px);
    transition: all 1.2s;
  }

  &__submit {
    @include buttonStyle();
    text-transform: uppercase;
    text-align: center;
    margin-top: 86px;
    transition: all 1s;
    opacity: 0;

    button {
      padding: 15px 40px;
    }
  }
}
