<ng-container *ngIf="data$ | async as data">
  <section *ngIf="tpl == 'list'">
    <ul>
        <li><strong>id</strong>: {{ data.id }}</li>
        <li><strong>recordId</strong>: {{ data.recordId }}</li>
        <li><strong>tagId</strong>: {{ data.tagId }}</li>
        <li><strong>entityFieldId</strong>: {{ data.entityFieldId }}</li>
        <li><strong>entity</strong>: {{ data.entity }}</li>
        <li><strong>position</strong>: {{ data.position }}</li>
    </ul>
  </section>

  <section *ngIf="tpl == 'default'">
    <pre>{{ data | json }}</pre>
  </section>
</ng-container>
