<div class="container">
  <ng-container *ngIf="data$ | async as data">
    <ng-container *ngIf="!isRecoveryFormVisible">
      <div class="left-section">
        <div [style.backgroundImage]="'url(' + (data.loginSectionImg | filePath) + ')'" class="left-section__bg"></div>
      </div>
      <div class="right-section">
        <div class="right-section__title">
          {{ data.loginSectionFormTitle }}
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" autocomplete="off" class="form">
          <div class="form__group">
            <input formControlName="login" type="text" class="form__control"
                   [class.is-invalid]="formErrors.login"
                   placeholder="Login">
            <div class="invalid-feedback" *ngIf="formErrors.login">
              {{ formErrors.login | translate }}
            </div>
          </div>
          <div class="form__group">
            <input formControlName="password" type="password" class="form__control"
                   [class.is-invalid]="formErrors.password"
                   placeholder="Password">
            <div class="invalid-feedback" *ngIf="formErrors.password">
              {{ formErrors.password | translate }}
            </div>
          </div>
          <div class="forgot-password">
            <button (click)="toogleForgotPasswordForm()" class="forgot-password__btn">Forgot password?</button>
          </div>
          <div class="form__submit">
            <button [disabled]="!contactForm.valid" type="submit">LOGIN</button>
          </div>
          <div [ngClass]="alertType" class="form__alert">
            <span *ngIf="alertType === 'success'">
              {{ 'form.status.success' | translate }}
            </span>
            <span *ngIf="alertType === 'error'">
              {{ 'form.status.error' | translate }}
            </span>
          </div>
        </form>
        <div class="right-section__redirect">
          {{ data.loginSectionBtnDesc }} <a [routerLink]="data.loginSectionBtnLink">{{ data.loginSectionBtnName }}</a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isRecoveryFormVisible">
      <div class="left-section">
        <div [style.backgroundImage]="'url(' + (data.loginSectionForgotImg | filePath) + ')'" class="left-section__bg"></div>
      </div>
      <div class="right-section">
        <div class="right-section__title">
          {{ data.loginSectionFormForgotTitle }}
        </div>
        <form [formGroup]="recoveryForm" (ngSubmit)="onSubmitRecovery(recoveryForm)" autocomplete="off" class="form">
          <div class="form__group">
            <input formControlName="login" type="text" class="form__control"
                   [class.is-invalid]="formErrors.login"
                   placeholder="Login">
            <div class="invalid-feedback" *ngIf="formErrors.login">
              {{ formErrors.login | translate }}
            </div>
          </div>
          <div class="forgot-password">
            <button (click)="toogleForgotPasswordForm()" class="forgot-password__btn">Login</button>
          </div>
          <div class="form__submit">
            <button [disabled]="!recoveryForm.valid" type="submit">SUBMIT</button>
          </div>
          <div [ngClass]="alertType" class="form__alert">
            <span *ngIf="alertType === 'success'">
              {{ 'form.status.success' | translate }}
            </span>
            <span *ngIf="alertType === 'error'">
              {{ 'form.status.error' | translate }}
            </span>
          </div>
        </form>
        <div class="right-section__redirect">
          {{ data.loginSectionBtnDesc }} <a [routerLink]="data.loginSectionBtnLink">{{ data.loginSectionBtnName }}</a>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
