@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container {
  display: flex;
  box-shadow: 0 28px 41px $form-box-shadow;
  border-radius: 10px;
  border: 2px solid $boxes-border-color;
  background-color: $boxes-bg;
  overflow: hidden;
  height: 70vh;

  @media (max-width: $small-sm) {
    flex-direction: column;
    height: auto;
  }
}

.left-section {
  min-width: 45%;

  @media (max-width: $small-sm) {
    height: 300px;
    min-width: 100%;
  }

  &__bg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.right-section {
  min-width: 55%;
  padding: 12px 48px;

  @media (max-width: $small-sm) {
    min-width: 100%;
  }

  &__title {
    @include fontSize(40);
    font-family: MonBold;
    margin-top: 74px;
    text-align: center;
  }

  .form {
    margin-top: 80px;


    &__alert {
      text-align: center;
      font-size: 10px;
      position: absolute;
      bottom: 65px;
      width: 100%;
      left: 0;
      text-decoration: underline;
      visibility: hidden;
      opacity: 0;
    }

    .form__group {
      position: relative;
      width: 100%;

      &:after {
        @include transition();
        content: "";
        position: absolute;
        background-color: $border-color;
        bottom: 5px;
        height: 2px;
        width: 100%;
        left: 0;
      }
    }

    &__control {
      @include transition();
      display: inline-block;
      width: 100%;
      background: transparent;
      border: none;
      padding: 13px 10px;
      color: $base-font-color;

      &:focus {
        outline: none;
      }
    }

    &__submit {
      @include buttonStyle();
      text-align: center;
      margin-top: 22px;
      width: 100%;

      button {
        padding: 15px 52px;
        background: transparent;

        &:disabled {
          pointer-events: none;
        }
      }
    }
  }

  &__redirect {
    @include fontSize(12);
    letter-spacing: 1.2px;
    font-family: MonLight;
    margin-top: 24px;
    margin-bottom: 162px;
    text-align: center;

    a {
      text-decoration: underline;
      color: $blue-font-color;
    }
  }

  .invalid-feedback {
    @include invalidFormControl();
  }

  .forgot-password {
    @include fontSize(12);
    letter-spacing: 1.2px;
    font-family: MonLight;
    margin-top: 12px;
    text-align: right;

    &__btn {
      border: none;
      background: transparent;
      text-decoration: underline;
      color: $blue-font-color;
    }
  }
}
