<ng-container *ngIf="data$ | async as data">
  <section *ngIf="tpl == 'list'">
    <ul>
        <li><strong>id</strong>: {{ data.id }}</li>
        <li><strong>appId</strong>: {{ data.appId }}</li>
        <li><strong>name</strong>: {{ data.name }}</li>
        <li><strong>value</strong>: {{ data.value }}</li>
        <li><strong>location</strong>: {{ data.location }}</li>
    </ul>
  </section>

  <section *ngIf="tpl == 'default'">
    <pre>{{ data | json }}</pre>
  </section>
</ng-container>
