<ng-container *ngIf="tpl === 'default'">
  <div class="container">
    <div *ngFor="let item of item$ | async" class="social-media">
        <a [href]="item.socialMediaUrl" target="_blank">
          <img src="{{ item.socialMediaIcon | filePath }}" />
        </a>
    </div>
  </div>
</ng-container>
