@import "../../../../styles/mixins";

.container {
  position: relative;
  display: flex;
  align-items: center;

  .social-media {
    margin: 0 14px;
    width: 17px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
