// USER-CODE-O
@import "../styles/variables";

.app-menu {
  position: absolute;
  width: 100%;
  z-index: 101;
}

::ng-deep {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-internal-autofill-selected,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: $base-font-color !important;
    -webkit-box-shadow: 0 0 0px 1000px $boxes-bg inset;
  }
}
// USER-CODE-C

.preview-mode-bar {
  background: rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  text-transform: uppercase;
}