<!-- USER-CODE-O -->
<app-menu class="app-menu"></app-menu>
<app-animations [initAnimation]="isInitialAnimation"></app-animations>
<!-- USER-CODE-C -->
<div *ngIf="previewMode" class="preview-mode-bar">Admin preview mode</div>
<router-outlet></router-outlet>
<!-- USER-CODE-O -->
<!-- USER-CODE-C -->