<ng-container *ngIf="data$ | async as data">
  <section *ngIf="tpl == 'list'">
    <ul>
        <li><strong>id</strong>: {{ data.id }}</li>
        <li><strong>name</strong>: {{ data.name }}</li>
        <li><strong>path</strong>: {{ data.path }}</li>
        <li><strong>alt</strong>: {{ data.alt }}</li>
        <li><strong>size</strong>: {{ data.size }}</li>
        <li><strong>mime</strong>: {{ data.mime }}</li>
        <li><strong>width</strong>: {{ data.width }}</li>
        <li><strong>height</strong>: {{ data.height }}</li>
        <li><strong>duration</strong>: {{ data.duration }}</li>
        <li><strong>status</strong>: {{ data.status }}</li>
        <li><strong>isForeign</strong>: {{ data.isForeign }}</li>
        <li><strong>params</strong>: {{ data.params }}</li>
    </ul>
  </section>

  <section *ngIf="tpl == 'default'">
    <pre>{{ data | json }}</pre>
  </section>
</ng-container>
