<section class="container">
  <div class="container__content">
    <div class="container__content-wrapper">
      <termsofservice-item class="content-wrapper__terms-of-service" data-aos="fade-up" data-aos-once="true" data-aos-delay="500"></termsofservice-item>
    </div>
    <div class="social-media">
      <socialmedia-list></socialmedia-list>
    </div>
  </div>
</section>
