@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  margin-top: 204px;
  padding: 0 35px;

  @media (min-width: $xs) {
    margin-top: 269px;
    padding: 0;
  }

  .content-header {
    @include contentHeader();
    text-align: left;
    margin-bottom: 79px;

    @media (min-width: $xs) {
      text-align: center;
      margin-bottom: 89px;
    }
  }

  .packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      position: relative;
      width: calc(100% - 8px);
      box-shadow: 0 28px 41px rgba(0, 0, 0, 0.31);
      border-radius: 10px;
      border: 2px solid $boxes-border-color;
      background-color: $boxes-bg;
      min-height: 355px;
      margin: auto 13px 38px;

      @media (min-width: $small-xs) {
        width: calc(100% * 1 / 2 - 8px);
        margin: 0 0 16px;
      }

      @media (min-width: $small-sm) {
        width: calc(100% * 1 / 3 - 8px);
        min-height: auto;
      }

      @media (min-width: $sm) {
        width: calc(100% * 1 / 4 - 8px);
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px;
        padding-top: 49px;
        padding-bottom: 20px;
        overflow: hidden;
      }

      &-title {
        @include fontSize(20);
        font-family: MonBold;
        padding: 3px 7px 7px;
        text-align: center;
        background-color: darken($boxes-bg, 4%);
        margin-bottom: 25px;
      }

      &-desc {
        padding: 0 27px 21px 36px;

        ::ng-deep {
          a {
            @include transition();
            @include defaultLink();
            text-decoration: underline;

            &:hover {
              text-decoration: underline;
              color: $blue-font-color;
            }
          }

          p {
            @include fontSize(12);
            @include lineHeight(20);
          }
        }
      }
    }

    .sub-items {
      text-align: center;
      padding: 0 27px 21px 36px;

      .center-items {
        display: inline-block;
        text-align: left;
      }

      &__item {
        @include fontSize(12);
        @include lineHeight(20);
        font-family: MonRegular;
        position: relative;
        display: flex;
        align-items: center;

        &:before {
          content: "";
          position: absolute;
          left: -22px;
          width: 12px;
          height: 12px;
          border: 2px solid $border-color;
          border-radius: 100%;
        }
      }
    }

    &__button {
      @media (min-width: $xs) {
        margin-top: 95px;
      }
    }
  }
}
