<div class="container">
  <ng-container *ngIf="data$ | async as data">
    <div class="content-header">{{ data.servicePackagesContainerTitle }}</div>
    <div class="packages">
      <ng-container *ngIf="servicePackagesList$ | async as servicePackagesLists">
        <div *ngFor="let item of servicePackagesLists; let i = index"
             [attr.data-aos-delay]="300 + (i * 200)"
             data-aos="fade-up"
             data-aos-once="true"
             class="packages__item">
          <div class="packages__item-icon">
            <img src="{{ item.servicePackagesListItemIcon | filePath }}" />
          </div>
          <div class="packages__item-title">
            {{ item.servicePackagesListItemTitle }}
          </div>
          <ng-container *ngIf="item.servicePackagesListItemList">
            <div class="sub-items">
              <div class="center-items">
                <div *ngFor="let packageItem of item.servicePackagesListItemList" class="sub-items__item">
                  {{ packageItem }}
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="item.servicePackagesListItemDescription">
            <div [innerHTML]="item.servicePackagesListItemDescription | safeHtml" class="packages__item-desc"></div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="packages__button">
      <app-redirect-button [url]="data.servicePackagesContainerBtnUrl" [name]="data.servicePackagesContainerButtonName" [position]="'center'"></app-redirect-button>
    </div>
  </ng-container>
</div>
