@font-face {
  font-family: MonBold;
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: MonLight;
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: MonMedium;
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: MonRegular;
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
