@import "variables";

@mixin fontSize( $size: 16 ) {
  font-size: ($size / 16) + rem;
}

@mixin lineHeight( $size: 16 ) {
  line-height: ($size / 16) + rem;
}

@mixin transition() {
  transition: all 0.3s ease-in-out;

  &:hover {
    transition: all 0.3s ease-in-out;
  }
}

@mixin buttonAnimated() {
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: $button-border-color;
    transition: left 0.3s linear;
  }

  &:hover, &.menu__item--active {
    color: white;
    background-color: $button-border-color;
    transition: background-color 0.25s linear;
    transition-delay: 0.20s;

    &:after {
      left: 0;
      transition: left 0.3s linear;
    }
  }
}

@mixin buttonStyle() {
  @include fontSize(12);
  font-family: MonLight;
  letter-spacing: 1.92px;
  color: $base-font-color;
  text-transform: uppercase;

  a, button {
    position: relative;
    overflow: hidden;
    color: inherit;
    z-index: 1;
    text-decoration: none;
    border-radius: 33px;
    border: 2px solid $button-border-color;
    padding: 22px 31px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    @include buttonAnimated();

    @media (max-width: $small-sm) {
      background-color: $button-border-color !important;
    }

    &:focus,
    &:hover {
      outline: none;
    }
  }
}

@mixin responsiveImg() {
  width: 100%;
  height: auto;
}

@mixin contentHeader() {
  @include fontSize(40);
  font-family: MonBold;

  @media (max-width: $small-xs) {
    @include fontSize(32);
  }
}

@mixin defaultLink() {
  position: relative;
  color: $base-font-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $base-font-color;
  }
}

@mixin copyrightBorder($valueLeft, $valueRight) {
  content: "";
  position: absolute;
  bottom: 0;
  left: $valueLeft;
  right: $valueRight;
  height: 1px;
  width: 82px;
  background-color: $white-bg;
}

@mixin topMenuButtonLink() {
  @include buttonAnimated();
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: inherit;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid $button-border-color;
  padding: 14px 23px;
  display: inline-block;

  @media (max-width: $small-xs) {
    background-color: $button-border-color;
  }
}

@mixin radialGradient($height) {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  background: -webkit-gradient(radial, 74% 16%, -27, 71% 15%, 1000, from(rgba(67, 79, 93, 0.9)), to(rgba(32, 39, 46, 0)));
  background-position: top right;
  height: $height;
  width: 100%;
  pointer-events: none;
}

@mixin invalidFormControl() {
  @include fontSize(10);
  font-family: MonLight;
  position: absolute;
  bottom: -15px;
  padding: 5px;
  color: $invalid-form-control;
}

@mixin click-blocker() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000;
}
