@import "variables";

@mixin responsive-visibility() {
  display: flex !important;
}

@mixin responsive-invisibility() {
  display: none !important;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  @include responsive-invisibility();
}

.visible-xs {
  @media (max-width: $xs) {
    @include responsive-visibility();
  }
}

.visible-sm {
  @media (min-width: $xs) and (max-width: $sm) {
    @include responsive-visibility();
  }
}

.visible-md {
  @media (min-width: $sm) and (max-width: $md) {
    @include responsive-visibility();
  }
}

.visible-lg {
  @media (min-width: $md) {
    @include responsive-visibility();
  }
}

.hidden-xs {
  @media (max-width: $xs) {
    @include responsive-invisibility();
  }
}

.hidden-sm {
  @media (min-width: $xs) and (max-width: $sm) {
    @include responsive-invisibility();
  }
}

.hidden-md {
  @media (min-width: $sm) and (max-width: $md) {
    @include responsive-invisibility();
  }
}

.hidden-lg {
  @media (min-width: $md) {
    @include responsive-invisibility();
  }
}
