// All colors

// _global
$base-font-color: #ffffff;
$blue-font-color: #0082fe;
$black-font-color: #000000;
$button-border-color: #0082fe;
$border-color: #0082fe;
$slide-bottom-bg: #ffffff;
$boxes-border-color: #353d46;
$boxes-bg: #262e37;
$boxes-title-color: #1e232a;

$white-bg: #ffffff;
$icon-bg: #20272e;
$base-bg: #20272e;
$error-color: rgba(167, 28, 28, 0.6);
$form-box-shadow: rgba(0, 0, 0, 0.31);
$invalid-form-control: #fc4242;
$animation-rectangle-first: #2a333c;
$animation-rectangle-second: #303A45;
$animation-rectangle-third: #38434f;

// breakpoints
$xss: 320 + 'px';
$small-xs: 576 + 'px';
$xs: 768 + 'px';
$small-sm: 992 + 'px';
$sm: 1200 + 'px';
$md: 1440 + 'px';
$lg: 1920 + 'px';
