<ng-container *ngIf="data$ | async as data">
  <section *ngIf="tpl == 'list'">
    <ul>
        <li><strong>id</strong>: {{ data.id }}</li>
        <li><strong>routeId</strong>: {{ data.routeId }}</li>
        <li><strong>languageId</strong>: {{ data.languageId }}</li>
        <li><strong>translationKey</strong>: {{ data.translationKey }}</li>
        <li><strong>translation</strong>: {{ data.translation }}</li>
        <li><strong>params</strong>: {{ data.params }}</li>
    </ul>
  </section>

  <section *ngIf="tpl == 'default'">
    <pre>{{ data | json }}</pre>
  </section>
</ng-container>
