@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 312px;

  @media (max-width: $small-xs) {
    margin-top: 100px;
  }

  @media (max-width: $xs) {
    flex-direction: column;
  }

  .description {
    width: 50%;
    padding-right: 65px;

    @media (max-width: $xs) {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__header {
      @include contentHeader();
    }

    &__content {
      @include fontSize(12);
      @include lineHeight(20);
      font-family: MonRegular;
      margin-top: 29px;
    }

    &__button {
      margin-top: 91px;

      @media (max-width: $small-xs) {
        margin-top: 50px;
      }
    }
  }

  .image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 752px;
    width: 70%;

    @media (max-width: $xs) {
      min-height: 70vh;
      width: 100%;
    }
  }
}
