<div class="container">
  <ng-container *ngIf="data$ | async as data">
    <div class="description" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">
      <div class="description__header">
        {{ data.customerServiceFieldsTitle }}
      </div>
      <div [innerHTML]="data.customerServiceFieldsDescription" class="description__content"></div>
      <div class="description__button hidden-xs">
        <app-redirect-button [url]="data.customerServiceFieldsBtnUrl" [name]="data.customerServiceFieldsBtnName" [position]="'center'"></app-redirect-button>
      </div>
    </div>
    <div [style.backgroundImage]="'url(' + (data.customerServiceChatBg | filePath) + ')'"
         data-aos="fade-up"
         data-aos-delay="600"
         data-aos-once="true"
         data-aos-anchor-placement="center"
         class="image"></div>
    <div class="description__button visible-xs">
      <app-redirect-button [url]="data.customerServiceFieldsBtnUrl" [name]="data.customerServiceFieldsBtnName" [position]="'center'"></app-redirect-button>
    </div>
  </ng-container>
</div>
