@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 102;
  background-color: $base-bg;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &__content {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -56px;

    @media (max-width: $xss) {
      width: 200px;
    }

    @media (min-width: 321px) {
      width: 250px;
    }

    @media (min-width: $small-xs) {
      width: 400px;
    }

    @media (min-width: $xs) {
      top: 0;
    }
  }
}

.line {
  height: 1px;
  position: absolute;
  background-color: $white-bg;
  top: calc(50% - 5px);
  transform-origin: top center;

  @media (max-width: $small-xs) {
    top: calc(50% - 4px);
  }
}

.title {
  overflow: hidden;
  background-color: $base-bg;

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    padding-left: 10px;

    &-img {
      position: relative;
      transform: translate(-10px, 100%) scaleX(1);
      transform-origin: left;
      transition-timing-function: cubic-bezier(.56,-0.18,.66,1.1);
      width: 260px;

      @media (max-width: $xss) {
        width: 150px;
      }

      @media (min-width: 321px) and (max-width: $small-xs) {
        width: 200px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    padding-left: 10px;

    &-img {
      position: relative;
      transform: translate(10px, -100%) scaleX(1);
      transform-origin: left;
      transition-timing-function: cubic-bezier(.56,-0.18,.66,1.1);
      width: 260px;

      @media (max-width: $xss) {
        width: 150px;
      }

      @media (min-width: 321px) and (max-width: $small-xs) {
        width: 200px;
      }
    }
  }
}

.overflow-rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  right: calc(-100% - 30px);
  z-index: 1;
  background-color: $base-bg;
}

.logo {
  z-index: 2;
  opacity: 0;
  position: absolute;

  &.logo-hidden {
    display: none;
  }
}

@keyframes translateContainer {
  from {
    transform: translateX(calc(100% + 200px));
  }
  to {
    transform: translateX(-200px);
  }
}

.overflow-container {
  position: fixed;
  height: 100%;
  z-index: 103;
  left: 0;
  width: calc(100% + 200px);
  transform: translateX(calc(100% + 200px));
  background-color: $base-bg;
  pointer-events: none;

  &.animate {
    animation: translateContainer 1.3s;
    animation-direction: revert;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    background: -webkit-gradient(radial, 74% 16%, -27, 71% 15%, 1000, from(rgba(67, 79, 93, 0.9)), to(rgba(32, 39, 46, 0)));
    background-position: top right;
    height: 1200px;
    width: 100%;
    pointer-events: none;
  }

  &__first {
    position: absolute;
    left: -150px;
    transform: translateX(0);
    transform-origin: left;
    width: 30px;
    height: 100%;
    background-color: $animation-rectangle-first;
  }

  &__second {
    position: absolute;
    left: -150px;
    transform: translateX(30px) scaleX(1);
    transform-origin: left;
    width: 60px;
    height: 100%;
    background-color: $animation-rectangle-second;
  }

  &__third {
    position: absolute;
    left: -150px;
    transform: translateX(90px) scaleX(1);
    transform-origin: left;
    width: 60px;
    height: 100%;
    background-color: $animation-rectangle-third;
  }
}

.route-container {
  position: fixed;
  height: 100%;
  z-index: 99;
  left: 0;
  width: calc(100% + 200px);
  transform: translateX(calc(100% + 200px));
  background-color: $base-bg;
  pointer-events: none;

  &.animate {
    animation: translateContainer 1.3s;
    animation-direction: revert;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    background: -webkit-gradient(radial, 74% 16%, -27, 71% 15%, 1000, from(rgba(67, 79, 93, 0.9)), to(rgba(32, 39, 46, 0)));
    background-position: top right;
    height: 1200px;
    width: 100%;
    pointer-events: none;
  }

  &__first {
    position: absolute;
    left: -150px;
    transform: translateX(0);
    transform-origin: left;
    width: 30px;
    height: 100%;
    background-color: $animation-rectangle-first;
    transition: all 1.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }

  &__second {
    position: absolute;
    left: -150px;
    transform: translateX(30px) scaleX(1);
    transform-origin: left;
    width: 60px;
    height: 100%;
    background-color: $animation-rectangle-second;
    transition: all 1.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }

  &__third {
    position: absolute;
    left: -150px;
    transform: translateX(90px) scaleX(1);
    transform-origin: left;
    width: 60px;
    height: 100%;
    background-color: $animation-rectangle-third;
    transition: all 1.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }
}
