<div #animeContainer class="container animeContainer">
  <div [hidden]="!initAnimation">
    <div class="container__content">
      <div class="title">
        <div class="title__top">
          <img #titleTop class="title__top-img" src="../../../../assets/img/kait__logo__top.png" />
        </div>
        <div  class="title__bottom">
          <img #titleBottom class="title__bottom-img" src="../../../../assets/img/kait__logo__bottom.png" />
        </div>
      </div>
      <div #logo id="logo" class="logo">
        <ng-container *ngIf="topMenuLogo$ | async as logoContainer">
          <img src="{{ logoContainer.topMenuLogoContainerImg | filePath }}" />
        </ng-container>
      </div>
      <div #line class="line"></div>
      <div #overflowRectangle class="overflow-rectangle"></div>
    </div>
  </div>
</div>
<div #overflowContainer class="overflow-container">
  <div #overflowContainerFirst class="overflow-container__first"></div>
  <div #overflowContainerSecond class="overflow-container__second"></div>
  <div #overflowContainerThird class="overflow-container__third"></div>
</div>

<div #routeContainer class="route-container">
  <div #routeContainerFirst class="route-container__first"></div>
  <div #routeContainerSecond class="route-container__second"></div>
  <div #routeContainerThird class="route-container__third"></div>
</div>
