<div class="container-form">
  <ng-container *ngIf="(descriptionData$ | async) as data">
    <div class="left-section">
      <div [style.backgroundImage]="'url(' + (data.getKaitSectionLeftBg | filePath) + ')'" class="left-section__bg">
        <img src="{{ data.getKaitSectionLeftCenterImg | filePath }}"/>
      </div>
    </div>
    <div class="right-section">
      <div class="first-step">
        <div class="step-title">
          Step <span>1</span>
        </div>
        <div [hidden]="alertType === 'success'" class="form-container">
          <div class="first-step__form-title">
            {{ data.getKaitSectionFormTitle }}
          </div>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" autocomplete="off" class="form">
            <div class="form__group">
              <input formControlName="getKaitFormBrandName" type="text" class="form__control"
                     [class.is-invalid]="formErrors.getKaitFormBrandName"
                     placeholder="Your brand name">
              <div class="invalid-feedback" *ngIf="formErrors.getKaitFormBrandName">
                {{ formErrors.getKaitFormBrandName | translate }}
              </div>
            </div>
            <div class="form__group">
              <input formControlName="getKaitFormEmail" type="email" class="form__control"
                     [class.is-invalid]="formErrors.getKaitFormEmail"
                     placeholder="Email">
              <div class="invalid-feedback" *ngIf="formErrors.getKaitFormEmail">
                {{ formErrors.getKaitFormEmail | translate }}
              </div>
            </div>
            <div class="form__group" [class.has-error]="formErrors.getKaitFormMobileNumber">
              <input formControlName="getKaitFormMobileNumber" type="tel" class="form__control"
                     [class.is-invalid]="formErrors.getKaitFormMobileNumber"
                     placeholder="Mobile number">
              <div *ngIf="formErrors.getKaitFormMobileNumber" class="invalid-feedback">
                {{ formErrors.getKaitFormMobileNumber | translate }}
              </div>
            </div>
            <div class="form__group" [class.has-error]="formErrors.getKaitFormContactPerson">
              <input formControlName="getKaitFormContactPerson" type="text" class="form__control"
                     [class.is-invalid]="formErrors.getKaitFormContactPerson"
                     placeholder="Contact person name">
              <div *ngIf="formErrors.getKaitFormContactPerson" class="invalid-feedback">
                {{ formErrors.getKaitFormContactPerson | translate }}
              </div>
            </div>
            <div class="form__group" [class.has-error]="formErrors.getKaitFormSocial">
              <input formControlName="getKaitFormSocial" type="text" class="form__control"
                     [class.is-invalid]="formErrors.getKaitFormSocial"
                     placeholder="www / social media">
              <div *ngIf="formErrors.getKaitFormSocial" class="invalid-feedback">
                {{ formErrors.getKaitFormSocial | translate }}
              </div>
            </div>
            <div class="form__submit">
              <button type="submit">SIGN UP</button>
            </div>
            <div [ngClass]="alertType" class="form__alert">
              <span *ngIf="alertType === 'error'">
                {{ 'form.status.error' | translate }}
              </span>
            </div>
          </form>
        </div>
        <div [class.show-content]="alertType === 'success'" class="success-container">
          <div class="success-container__title">
            Success!
          </div>
          <div class="success-container__desc">
            Your message has been sent. Please await our reply.
          </div>
          <div class="success-container__submit">
            <button [routerLink]="['/home']">Back to home page</button>
          </div>
        </div>
      </div>
      <div [class.step-divider--long]="alertType === 'success'" class="step-divider"></div>
      <div class="second-step">
        <div class="step-title">
          Step <span>2</span>
        </div>
        <div class="second-step__desc">
          {{ data.getKaitSectionFormDescription }}
        </div>
        <div class="second-step__redirect">
          {{ data.getKaitSectionFormBottomDesc }} <a [href]="data.getKaitSectionFormBottomBtnUrl" target="_blank">{{ data.getKaitSectionFormBottomBtnName }}</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
