@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.container-form {
  display: flex;
  box-shadow: 0 28px 41px $form-box-shadow;
  border-radius: 10px;
  border: 2px solid $boxes-border-color;
  background-color: $boxes-bg;
  overflow: hidden;
  min-height: 611px;
  width: 100%;

  @media (max-width: $small-sm) {
    flex-direction: column;
  }

  &.send-state {
    .form__alert {
      visibility: visible;
      opacity: 0.5;
    }
  }
}

.left-section {
  min-width: 45%;

  @media (max-width: $small-sm) {
    height: 300px;
    min-width: 100%;
  }

  &__bg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.right-section {
  min-width: 55%;
  padding: 44px 48px 37px;

  @media (max-width: $small-sm) {
    min-width: 100%;
  }

  .step-title {
    @include fontSize(12);
    letter-spacing: 1.2px;
    color: $blue-font-color;
    text-align: center;

    span {
      margin-left: 10px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        height: 22px;
        width: 22px;
        top: -3px;
        left: -8px;
        border: 2px solid $border-color;
        border-radius: 100%;
      }
    }
  }

  .first-step {
    &__form-title {
      @include fontSize(40);
      font-family: MonBold;
      text-align: center;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    opacity: 1;
    transition: all 0.6s;

    &.form-hidden {
      overflow: hidden;
      height: 0;
      transition: all 0.6s;
    }

    &__alert {
      text-align: center;
      font-size: 10px;
      position: absolute;
      bottom: 65px;
      width: 100%;
      left: 0;
      text-decoration: underline;
      visibility: hidden;
      opacity: 0;

      &.empty-form {
        visibility: visible;
        opacity: 0.5;
      }
    }

    &__group {
      @include fontSize(14);
      position: relative;
      width: 100%;
      font-family: MonRegular;

      @media (min-width: $xs) {

        &:not(:first-of-type) {
          width: calc(50% - 24px);

          &:nth-child(even) {
            margin-right: 24px;
          }

          &:nth-child(odd) {
            margin-left: 24px;
          }
        }
      }

      &:after {
        @include transition();
        content: "";
        position: absolute;
        background-color: $border-color;
        bottom: 5px;
        height: 2px;
        width: 100%;
        left: 0;
      }
    }

    &__control {
      @include transition();
      display: inline-block;
      width: 100%;
      background: transparent;
      border: none;
      padding: 13px 10px;
      color: $base-font-color;

      &:focus {
        outline: none;
      }
    }

    &__submit {
      @include buttonStyle();
      text-align: center;
      margin-top: 50px;
      width: 100%;

      button {
        padding: 15px 26px;
        background: transparent;

        &:disabled {
          pointer-events: none;
        }
      }
    }
  }

  .step-divider {
    margin: 30px auto 20px;
    height: 37px;
    width: 1px;
    text-align: center;
    background-color: $white-bg;

    &--long {
      height: 148px;
    }
  }

  .invalid-feedback {
    @include invalidFormControl();
  }

  .second-step {
    text-align: center;

    &__desc {
      @include fontSize(12);
      text-align: left;
      letter-spacing: 1.2px;
      margin-top: 22px;
    }

    &__redirect {
      @include fontSize(12);
      margin-top: 28px;
      letter-spacing: 1.2px;

      a {
        text-decoration: underline;
        color: $blue-font-color;
      }
    }
  }
}

.success-container {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: flex 0.6s;
  text-align: center;

  &.show-content {
    height: auto;
    opacity: 1;
    transition: all 0.6s;

    .success-container {
      &__title, &__desc {
        transition: all 1s;
        transform: translateY(0);
      }

      &__submit {
        opacity: 1;
        transition: all 1s;
      }
    }
  }

  &__title {
    @include fontSize(40);
    font-family: MonBold;
    margin-top: 7px;
    transform: translateY(10px);
    transition: all 1s;
  }

  &__desc {
    @include fontSize(12);
    @include lineHeight(20);
    font-family: MonRegular;
    margin-top: 18px;
    transform: translateY(10px);
    transition: all 1.2s;
  }

  &__submit {
    @include buttonStyle();
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    transition: all 1s;
    opacity: 0;

    button {
      padding: 15px 40px;
    }
  }
}
