<section class="container">
  <div class="container__content">
    <div class="container__content-wrapper">
      <privacypolicy-item class="content-wrapper__privacy-policy" data-aos="fade-up" data-aos-once="true" data-aos-delay="500"></privacypolicy-item>
    </div>
    <div class="social-media">
      <socialmedia-list></socialmedia-list>
    </div>
  </div>
</section>
