<nav class="header">
  <div class="logo">
    <ng-container *ngIf="topMenuLogo$ | async as logoContainer">
      <a [routerLink]="['/home']">
        <img (click)="route($event)" src="{{ logoContainer.topMenuLogoContainerImg | filePath }}" />
      </a>
    </ng-container>
  </div>
  <div (click)="toggleMobileMenu()" [class.show-menu]="toggleMenu" class="mobile-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div [class.show-menu]="toggleMenu" class="menu">
    <ng-container *ngIf="topMenuLists$ | async as menuList">
      <div *ngFor="let item of menuList; let i = index"
           [attr.data-aos-delay]="800 + (i * 200)"
           [attr.data-aos]="activeUrl === 'home' ? 'fade-up' : ''"
           data-aos-once="true"
           class="menu__item">
        <ng-container *ngIf="item.topMenuListContainerTarget === 0">
          <a [routerLink]="item.topMenuListContainerUrl"
             routerLinkActive="menu__item--active"
             [class.menu__item--has-border]="item.topMenuListContainerBorder === 1">
            <div (click)="route($event)" class="click-blocker"></div>
            <span>{{ item.topMenuListContainerName }}</span>
          </a>
        </ng-container>
        <ng-container *ngIf="item.topMenuListContainerTarget === 1">
          <a [href]="item.topMenuListContainerUrl"
             [class.menu__item--has-border]="item.topMenuListContainerBorder === 1"
             target="_blank">
            <span>{{ item.topMenuListContainerName }}</span>
          </a>
        </ng-container>
      </div>
    </ng-container>
  </div>
</nav>
