@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.header {
  @include transition();
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  min-width: 100%;
  padding: 0 20px;

  @media (max-width: $sm) {
    min-width: 80%;
  }

  @media (min-width: $sm) {
    padding-top: 36px;
    align-items: center;
    min-width: 90%;
    margin: 0 70px 38px;
  }

  @media (min-width: $md) {
    min-width: 80%;
    margin: 0 140px 38px;
  }

  @media (min-width: $lg) {
    margin: 0 150px 38px;
  }

  .logo {
    position: relative;
    z-index: 3;
    width: 25px;
    height: auto;

    button {
      cursor: pointer;
    }

    img {
      @include responsiveImg();
    }
  }

  .mobile-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    z-index: 3;

    @media (min-width: $xs) {
      display: none;
    }

    span {
      @include transition();
      width: 20px;
      height: 2px;
      background: $white-bg;
    }

    &.show-menu {
      span {
        @include transition();
        visibility: hidden;
        opacity: 0;

        &:first-of-type {
          transform: translate(0px, 9px) rotate(45deg);
          transform-origin: center;
          visibility: visible;
          opacity: 1;
        }
        &:last-of-type {
          transform: translate(0px, -9px) rotate(-45deg);
          transform-origin: center;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .menu {
    @include transition();
    @include fontSize(12);
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
    font-family: MonLight;

    @media(max-width: 767px) {
      position: fixed;
      z-index: 2;
      height: 110%;
      width: 100%;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: center;
      background: $boxes-bg;
      visibility: hidden;
      opacity: 0;
    }

    @media (min-width: $xs) {
      position: inherit;
      visibility: visible;
      opacity: 1;
    }

    &.show-menu {
      visibility: visible;
      opacity: 1;
    }

    &__item {
      @include defaultLink();
      margin: 30px 27px;

      @media (max-width: $xs) {
        @include transition();
      }

      @media (min-width: $xs) {
        margin: 0 27px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }

      &--has-border {
        @include topMenuButtonLink();
      }

      a {
        @include defaultLink();


        &:not(.menu__item--has-border) {
          padding: 30px 27px;

          span {
            position: relative;
            &:after {
              @include transition();
              content: "";
              position: absolute;
              bottom: -10px;
              left: 0;
              width: 0;
              height: 1px;
              background-color: $border-color;
            }
          }

          &.menu__item--active,
          &:hover {
            span {
              &:after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

a {
  position: relative;
}

.click-blocker {
  @include click-blocker();
}
