@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  background-color: $base-bg;
  color: $base-font-color;
  position: relative;
  overflow: hidden;

  &:before {
    @include radialGradient(1200px);
  }

  &__content {
    @include transition();
    width: 100%;
    margin: 0 auto;

    @media (min-width: $xs) {
      margin-top: 128px;
    }

    @media (min-width: $xs) and (max-width: $sm) {
      width: 80%;
    }

    @media (min-width: $sm) {
      width: 1160px;
    }
  }
}

.section-hidden {
  opacity: 0;
  visibility: hidden;
  @include transition();
}
