<section class="container">
  <div class="container__content">
    <topelements-item (dataLoaded)="showSections()"></topelements-item>
    <section *ngIf="finishAnimations" [class.section-hidden]="!sectionsShown">
      <benefits-item></benefits-item>
      <reachclients-item></reachclients-item>
      <customerservice-item></customerservice-item>
      <servicepackages-item></servicepackages-item>
      <bottomdescription-item></bottomdescription-item>
      <app-footer></app-footer>
    </section>
  </div>
</section>
