<section class="container">
  <div class="container__content">
    <div class="container__content-wrapper">
      <contactformsettings-item class="content-wrapper__desc" data-aos="fade-up" data-aos-once="true" data-aos-delay="500"></contactformsettings-item>
      <app-contact-form class="content-wrapper__form" data-aos="fade-up" data-aos-once="true" data-aos-delay="700"></app-contact-form>
    </div>
    <div class="social-media">
      <socialmedia-list></socialmedia-list>
    </div>
  </div>
</section>
