@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  .content {
    @include fontSize(12);
    @include lineHeight(20);
    font-family: MonLight;

    &__header {
      @include contentHeader();
      margin-bottom: 44px;
    }

    &__email {
      margin-top: 26px;
      margin-bottom: 43px;

      &-link {
        @include defaultLink();
        @include fontSize(40);
        font-family: MonBold;
        position: relative;

        &:after {
          @include transition();
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          height: 2px;
          width: 0;
          background-color: $border-color;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}
