<div class="container">
  <ng-container *ngIf="data$ | async as data">
    <div class="content">
      <div class="content__header">
        {{ data.contactFormDescriptionHeader }}
      </div>
      <div [innerHTML]="data.contactFormDescriptionDesc" class="content__desc"></div>
      <div class="content__email">
        <a class="content__email-link" href="mailto: {{ data.contactFormDescriptionEmail }}">{{ data.contactFormDescriptionEmail }}</a>
      </div>
      <div [innerHTML]="data.contactFormDescriptionSecondDesc" class="content__desc-second"></div>
    </div>
  </ng-container>
</div>
