@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  background-color: $base-bg;
  color: $base-font-color;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  &:before {
    @include radialGradient(1200px);
  }

  &__content {
    width: 1160px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex: 1;

    @media (max-width: $sm) {
      width: 100%;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      margin: 162px 20px 70px;
      width: 100%;

      @media (max-width: $small-sm) {
        flex-direction: column;
        justify-content: center;
      }

      @media (min-width: $xs) and (max-width: $sm) {
        margin: 162px 100px 100px;
      }

      @media (min-width: $sm) {
        margin: 128px 86px 45px;
      }
    }
  }
}

.content-wrapper__login {
  min-width: 100%;
}

.social-media {
  position: absolute;
  right: 0;
  bottom: 27px;

  @media (max-width: $sm) {
    right: 30px;
  }
}
