<section class="container">
  <div class="container__content">
    <div class="container__content-wrapper">
      <loginsection-item class="content-wrapper__login"></loginsection-item>
    </div>
    <div class="social-media">
      <socialmedia-list></socialmedia-list>
    </div>
  </div>
</section>
