<ng-container *ngIf="data$ | async as data">
  <section *ngIf="tpl == 'list'">
    <ul>
        <li><strong>id</strong>: {{ data.id }}</li>
        <li><strong>appId</strong>: {{ data.appId }}</li>
        <li><strong>name</strong>: {{ data.name }}</li>
        <li><strong>code</strong>: {{ data.code }}</li>
        <li><strong>active</strong>: {{ data.active }}</li>
        <li><strong>visible</strong>: {{ data.visible }}</li>
        <li><strong>isDefault</strong>: {{ data.isDefault }}</li>
        <li><strong>position</strong>: {{ data.position }}</li>
    </ul>
  </section>

  <section *ngIf="tpl == 'default'">
    <pre>{{ data | json }}</pre>
  </section>
</ng-container>
