@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.redirect-button {
  @include buttonStyle();
  text-align: center;

  &.left {
    @media (min-width: $small-sm) {
      text-align: left;
    }
  }

  &.center {
    @media (min-width: $small-sm) {
      text-align: center;
    }
  }
}

.click-blocker {
  @include click-blocker();
}

.default-link {
  @include defaultLink();
}
