<ng-container *ngIf="type !== 'default-link'">
  <div [ngClass]="position" class="redirect-button">
    <a [routerLink]="url">
      <div (click)="route($event)" class="click-blocker"></div>
      {{ name }}
    </a>
  </div>
</ng-container>
<ng-container *ngIf="type === 'default-link'">
  <a [routerLink]="url" class="default-link">
    <div (click)="route($event)" class="click-blocker"></div>
    {{ name }}
  </a>
</ng-container>
