<ng-container *ngIf="data$ | async as data">
  <section class="container">
    <div class="content">
      <div class="description" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-once="true" data-aos-delay="500">
        <div class="description__header">
          {{ data.topSectionHeader }}
        </div>
        <div class="description__content">
          {{ data.topSectionDescription }}
        </div>
        <div class="description__button">
          <app-redirect-button [url]="data.topSectionButtonLink" [name]="data.topSectionButtonText" [position]="'left'"></app-redirect-button>
        </div>
        <div class="social-media visible-xs">
          <socialmedia-list></socialmedia-list>
        </div>
      </div>
      <div class="message" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="650">
        <img class="message__img" src="{{ data.topSectionImage | filePath }}"/>
        <video #video
               (canplay)="playVideo(video)"
               autoplay
               loop
               muted
               playsinline
               class="message__video"  >
          <source src="/assets/img/phone_video.mp4">
        </video>
      </div>
    </div>
    <div class="slide-bottom" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="top-bottom" data-aos-delay="1400"></div>
  </section>
  <div class="social-media hidden-xs" data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-once="true" data-aos-delay="1200">
    <socialmedia-list></socialmedia-list>
  </div>
</ng-container>
