@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  position: relative;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: $xs) {
      flex-direction: column;
      margin: 0 35px;
    }

    .description {
      max-width: 100%;

      @media (max-width: $small-xs) {
        margin-top: 162px;
        margin-bottom: 30px;
      }

      @media (min-width: $small-xs) and (max-width: $xs) {
        margin-top: 162px;
      }

      @media (min-width: $xs) and (max-width: $sm) {
        margin-right: 5%;
      }

      @media (min-width: $sm) {
        max-width: 45%;
      }

      &__header {
        @include fontSize(40);
        @include lineHeight(60);
        font-family: MonBold;

        @media (min-width: $sm) {
          @include fontSize(79);
          @include lineHeight(97);
        }
      }

      &__content {
        @include fontSize(12);
        @include lineHeight(23);
        font-family: MonLight;

        @media (min-width: $sm) {
          @include fontSize(16);
          @include lineHeight(31);
        }
      }

      &__button {
        margin-top: 60px;

        @media (min-width: $small-sm) {
          margin-top: 20px;
        }
      }
    }

    .message {
      position: relative;

      &__img {
        max-width: 320px;

        @media (max-width: $xss) {
          max-width: 280px;
        }
      }

      &__video {
        position: absolute;
        left: 18px;
        height: 79%;
        width: 275px;
        top: 75px;
        transform: translateX(3px);

        @media (max-width: $xss) {
          left: 15px;
          height: 78%;
          width: 243px;
          top: 69px;
        }
      }
    }
  }

  .slide-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -95px;
    margin: 0 auto;
    height: 70px;
    width: 1px;
    background: $slide-bottom-bg;

    @media (max-width: $xs) {
      display: none;
    }
  }
}

.social-media {
  display: flex;
  justify-content: flex-end;

  @media (max-width: $small-xs) {
    justify-content: center;
    margin: 20px 58px;
  }

  @media (min-width: $small-xs) and (max-width: $xs) {
    justify-content: center;
    margin: 55px 58px;
  }

  @media (min-width: $xs) {
    margin-top: 70px;
  }
}
