<ul *ngIf="(availableLang$ | async)">
  <ng-container *ngFor="let lang of availableLang$ | async">
    <li [ngClass]="{'active': activeLang === lang}">
      <a (click)="setLang(lang)">{{ lang }}</a>
    </li>
  </ng-container>
</ul>