<div class="container">
  <ng-container *ngIf="data$ | async as data">
    <div class="description" data-aos="fade-up" data-aos-delay="300" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">
      <div class="description__content-header">
        {{ data.reachClientsContainerHeader }}
      </div>
      <div class="description__content">
        {{ data.reachClientsContainerDescription }}
      </div>
      <div class="description__button hidden-xs">
        <app-redirect-button [url]="data.reachClientsContainerBtnUrl" [name]="data.reachClientsContainerBtnName" [position]="'center'"></app-redirect-button>
      </div>
    </div>
    <ng-container *ngIf="reachClientsIconsList$ | async as iconLists">
      <div class="icons">
        <div class="icons__title" data-aos="fade-down" data-aos-once="true" data-aos-delay="500">
          {{ data.reachClientsContainerIconsDesc }}
        </div>
        <div *ngFor="let item of iconLists; let i = index"
             [attr.data-aos-delay]="300 + (i * 200)"
             data-aos="fade-up"
             data-aos-once="true"
             class="icons__item">
          <div class="icons__item-icon">
            <img src="{{ item.reachClientsIconsItemIcon | filePath }}" />
          </div>
          <div class="icons__item-percent">
            {{ item.reachClientsIconsItemPercent }}%
          </div>
        </div>
      </div>
    </ng-container>
    <div class="description__button visible-xs">
      <app-redirect-button [url]="data.reachClientsContainerBtnUrl" [name]="data.reachClientsContainerBtnName" [position]="'center'"></app-redirect-button>
    </div>
  </ng-container>
</div>
