@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 257px;
  margin-left: 30px;
  margin-right: 30px;

  @media (max-width: $small-xs) {
    margin-top: 100px;
  }

  @media (min-width: $small-sm) {
    margin: 0 auto;
    margin-top: 312px;
    flex-direction: row;
  }

  .description {
    @media (min-width: $small-sm) {
      width: 38%;
      min-width: 38%;
      margin-right: 121px;
    }

    &__content-header {
      @include contentHeader();
    }

    &__content {
      @include fontSize(12);
      @include lineHeight(20);
      font-family: MonRegular;
      margin-top: 40px;

      @media (min-width: $xs) {
        margin-top: 29px;
      }
    }

    &__button {
      margin-top: 24px;
    }
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 34px;
    width: 85%;

    @media (min-width: $small-xs) {
      width: 100%;
    }

    @media (min-width: $small-sm) {
      margin-top: 0;
    }

    &__title {
      @include fontSize(20);
      font-family: MonBold;
      margin-bottom: 40px;

      @media (min-width: $small-xs) {
        margin-bottom: 17px;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      box-shadow: 0 28px 41px rgba(0, 0, 0, 0.31);
      border-radius: 10px;
      border: 2px solid $boxes-border-color;
      background-color: $boxes-bg;
      margin: 0 auto 45px;
      min-height: 150px;

      @media (min-width: $small-xs) {
        width: calc(100% * 1/2 - 28px);
      }

      &-icon {
        margin-right: 34px;

        @media (min-width: $xs) and (max-width: $sm) {
          margin-right: 10px;
          text-align: center;

          img {
            width: 70%;
          }
        }
      }

      &-percent {
        @include fontSize(40);
        font-family: MonBold;

        @media (min-width: $xs) and (max-width: $sm) {
          @include fontSize(30);
        }
      }
    }
  }
}
