<div class="container">
  <div class="footer">
    <div class="left" data-aos="fade-right" data-aos-once="true">
      <div class="left__menu">
        <ng-container *ngIf="footerMenuList$ | async as footerMenuList">
          <ng-container *ngFor="let item of footerMenuList">
            <a *ngIf="item.footerMenuContainerTarget == 1"
                [href]="item.footerMenuContainerUrl"
               target="_blank"
               class="left__menu-item default-link">
              {{ item.footerMenuContainerName }}
            </a>
            <ng-container *ngIf="item.footerMenuContainerTarget == 0">
              <app-redirect-button [url]="item.footerMenuContainerUrl" [name]="item.footerMenuContainerName" [type]="'default-link'" class="left__menu-item"></app-redirect-button>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div class="left__content">
        <ng-container *ngIf="footerCopyright$ | async as copyright">
          <div *ngFor="let item of copyright">
            <div class="content__title">
              {{ item.copyrightContainerTitle }}
            </div>
            <div class="content__desc">
              {{ item.copyrightContainerDesc }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="right" data-aos="fade-left" data-aos-once="true">
      <div class="right__social">
        <socialmedia-list></socialmedia-list>
      </div>
      <div class="right__others">
        <app-redirect-button [url]="'/terms-of-service'" [name]="'Terms of service'" [type]="'default-link'"></app-redirect-button>
        <span class="right__others-divider">|</span>
        <app-redirect-button [url]="'/privacy-policy'" [name]="'Privacy policy'" [type]="'default-link'"></app-redirect-button>
      </div>
    </div>
  </div>
</div>
