@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  margin-top: 170px;
  padding-bottom: 43px;

  @media (max-width: $xs) {
    padding: 0 35px 43px;
  }

  .footer {
    @include fontSize(12);
    @include lineHeight(20);
    font-family: MonLight;
    display: flex;
    justify-content: space-between;

    @media (max-width: $xs) {
      flex-direction: column;
    }

    .left {
      width: 50%;

      @media (max-width: $xs) {
        width: 100%;
      }

      &__menu {
        padding-bottom: 30px;
        position: relative;

        &:after {
          @include copyrightBorder(0, auto);
        }

        &-item {
          margin: 0 16px;

          &:first-of-type {
            margin-left: 0;
            margin-right: 16px;
          }

          &:last-of-type {
            margin-right: 0;
            margin-left: 16px;
          }
        }
      }

      &__content {
        margin-top: 31px;
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (max-width: $xs) {
        align-items: flex-start;
        width: 100%;
      }

      &__social {
        padding-bottom: 30px;
        position: relative;

        @media (max-width: $xs) {
          padding-top: 35px;
        }

        &:after {
          @include copyrightBorder(auto, 0);

          @media (max-width: $xs) {
            left: 0;
          }
        }

        &-item {
          margin: 0 14px;

          &:first-of-type {
            margin-left: 0;
            margin-right: 14px;
          }
          &:last-of-type {
            margin-right: 0;
            margin-left: 14px;
          }
        }
      }

      &__others {
        margin-top: 31px;

        @media (max-width: $xs) {
          margin-top: 48px;
        }
        
        &-divider {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}

.default-link {
  @include defaultLink();
}
