@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  margin-top: 165px;

  @media (min-width: $xs) {
    margin-top: 242px;
  }

  .content-header {
    @include contentHeader();
    text-align: center;
    margin-bottom: 53px;

    @media (min-width: $xs) {
      margin-bottom: 134px;
    }
  }

  .benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 82%;
    margin: 0 auto;
    position: relative;

    &__divider {
      position: absolute;
      left: 0;
      right: 0;
      height: 70px;
      top: calc(50% - 35px);
      width: 1px;
      background: $white-bg;
      margin: 0 auto;
      display: none;

      @media (min-width: $small-sm) {
        display: block;
      }
    }

    &__item {
      margin-bottom: 40px;

      @media (min-width: $xs) {
        margin-bottom: 0;
        width: calc(100% * 1 / 2);

        &:nth-child(even) {
          margin-top: 80px;
          padding-left: 38px;

          &:first-of-type {
            margin-top: 98px;
          }
        }

        &:nth-child(odd) {
          padding-right: 38px;
        }
      }

      @media (min-width: $small-sm) {
        &:nth-child(even) {
          padding-left: 108px;
        }

        &:nth-child(odd) {
          padding-right: 108px;
        }
      }

      &-header {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 37px;

        &:after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0;
          height: 1px;
          width: 35px;
          background-color: $border-color;
        }

        .item-header {
          &__image {
            max-width: 30%;
            height: auto;
          }

          &__title {
            @include fontSize(20);
            font-family: MonBold;
            margin-left: 17px;
            max-width: 60%;
          }
        }
      }

      &-description {
        @include fontSize(12);
        @include lineHeight(20);
        font-family: MonRegular;
      }
    }

    &__button {
      margin-top: 41px;

      @media (min-width: $xs) {
        margin-top: 95px;
      }
    }
  }
}
