<div class="container">
  <ng-container *ngIf="data$ | async as data">
    <div class="content-header">{{ data.benefitsContainerTitle }}</div>
    <div class="benefits">
      <ng-container *ngIf="benefitsList$ | async as benefitsLists">
        <div *ngFor="let item of benefitsLists, let i = index"
             [attr.data-aos-delay]="300 + (i * 200)"
             data-aos="fade-up"
             data-aos-once="true"
             class="benefits__item">
          <div class="benefits__item-header">
            <div class="item-header__image">
              <img src="{{ item.benefitItemImage | filePath }}" />
            </div>
            <div class="item-header__title">
              {{ item.benefitItemTitle }}
            </div>
          </div>
          <div class="benefits__item-description">
            {{ item.benefitItemDescription }}
          </div>
        </div>
      </ng-container>

      <div class="benefits__divider"></div>
    </div>
    <div class="benefits__button">
      <app-redirect-button [url]="data.benefitsContainerBtnUrl" [name]="data.benefitsContainerBtnName" [position]="'center'"></app-redirect-button>
    </div>
  </ng-container>
</div>
