<div class="container">
  <ng-container *ngIf="data$ | async as data">
    <div class="separator"></div>
    <div class="description">
      <div class="description__chat">
        <div class="description__chat-icon">
          <img src="assets/img/chat__icon.png" />
        </div>
        <div class="description__chat-content">
          <div *ngFor="let item of data.bottomDescriptionContainerChat" class="chat-content__item">
            <span>{{ item }}</span>
          </div>
        </div>
      </div>
      <div class="description__img"
           data-aos="fade-up" data-aos-delay="300" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">
        <img src="{{ data.bottomDescriptionContainerImage | filePath }}" />
      </div>
    </div>
    <div class="description__button">
      <app-redirect-button [url]="data.bottomDescriptionContainerBtnUrl" [name]="data.bottomDescriptionContainerBtnName" [position]="'center'"></app-redirect-button>
    </div>
  </ng-container>
</div>
