@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  padding-top: 165px;
  position: relative;

  @media (max-width: $small-sm) {
    margin-top: 240px;
  }

  .separator {
    display: none;
    margin: 0 auto;
    height: 70px;
    width: 1px;
    background: $slide-bottom-bg;

    @media (min-width: $small-sm) {
      display: block;
    }
  }

  .description {
    display: flex;
    margin-top: 72px;
    
    &__chat {
      position: relative;
      width: 100%;
      bottom: 100px;
      color: $black-font-color;
      display: flex;
      align-items: flex-end;

      @media (min-width: $small-sm) {
        left: 20%;
        width: 56%;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -20px;
        height: 110px;
        width: 100%;
        background-color: $white-bg;

        @media (min-width: $xs) {
          bottom: -40px;
          height: 160px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 200px;
        bottom: -40px;
        height: 160px;
        width: 70%;
        background: rgba(255,255,255, 0.3);
        z-index: 2;
        display: none;

        @media (min-width: $small-sm) {
          display: block;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      &-icon {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        min-width: 38px;
        height: 38px;
        margin-right: 7px;
        margin-left: 26px;
        border-radius: 100%;
        background-color: $icon-bg;

        img {
          width: 40%;
          height: auto;
        }

        @media (min-width: $xs) {
          width: 60px;
          min-width: 60px;
          height: 60px;
        }
      }

      &-content {
        position: relative;
        z-index: 3;

        @media (max-width: $small-sm) {
          width: 75%;
        }

        .chat-content__item {
          @include fontSize(14);
          @include lineHeight(21);
          font-family: MonLight;
          box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.13);
          background-color: #eaeaea;
          padding: 14px 26px;
          margin-bottom: 7px;
          display: inline-block;

          @media (min-width: $small-sm) {
            @include fontSize(25);
            @include lineHeight(30);
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          &:nth-child(odd) {
            border-radius: 20px;
            border-bottom-left-radius: 20px;
          }

          &:nth-child(even) {
            border-radius: 20px;
            border-top-left-radius: 20px;
          }
        }
      }
    }

    &__img {
      border-radius: 15px;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      height: 55%;
      z-index: 1;
      width: 70%;
      display: flex;
      justify-content: flex-end;

      @media (min-width: $small-sm) {
        width: 50%;
        position: relative;
        height: auto;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    &__button {
      margin-top: 9px;
    }
  }
}
