<section class="container">
  <div class="container__content">
    <div class="container__content-wrapper">
      <getkaitform-item class="content-wrapper__form" data-aos="fade-up" data-aos-once="true" data-aos-delay="500"></getkaitform-item>
    </div>
    <div class="social-media">
      <socialmedia-list></socialmedia-list>
    </div>
  </div>
</section>
